<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f8f8f8;
    }

    .container {
      max-width: 600px;
      margin: 50px auto;
      text-align: center;
    }

    header, footer {
      background-color: #e74c3c;
      color: white;
      padding: 10px;
    }

    h1 {
      font-size: 2em;
    }

    .content {
      margin: 20px 0;
    }

    p {
      font-size: 1.2em;
      line-height: 1.5;
    }

.NAVHOME{
  background-color: #e74c3c;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 1.5;
  margin: 20px 0;
  border-radius: 10px;
  text-align: center;
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

  </style>
  <title>Error en el Pago</title>
</head>
<body>
   <a href="/list" class="NAVHOME"> VOLVER </a>
  <div class="container">
    <header>
      <h1 class="animated shake">¡Error en el Pago!</h1>
    </header>
    <section class="content">
      <p class="animated fadeIn">Lamentablemente, el pago no se completó con éxito.</p>
      <p class="animated fadeIn">Hemos decidido sacar los productos del carrito. Si tienes alguna pregunta, no dudes en contactarnos.</p>
    </section>
    <footer>
      <p class="animated tada">Lamentamos cualquier inconveniente. ¡Esperamos poder ayudarte pronto!</p>
    </footer>
  </div>
</body>
</html>
