<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #222222;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    h1 {
      font-size: 1.5rem;
      margin-bottom: 20px;
      color: #ff9900; 
    }

    ul#chat {
      list-style: none;
      padding: 0;
      margin: 0;
      max-width: 400px;
      width: 100%;
      overflow-y: auto;
      border: 2px solid #ff9900; 
      border-radius: 5px;
      background-color: #333333;
      padding: 10px;
    }

    ul#chat li {
      margin-bottom: 10px;
    }

    strong {
      color: #ff9900; 
    }

    em {
      color: #666666; 

    #chatForm {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;
      margin-top: 20px;
    }

    #chatForm input[type="text"],
    #chatForm button {
      margin-bottom: 10px;
    }

    #chatForm button {
      background-color: #ff9900;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
    }

    #chatForm button:hover {
      background-color: #dd7700; 
    }
  </style>
</head>
<body>
  <h1>Chat</h1>
  <ul id="chat">
    {{#each messages}}
      <li><strong>{{this.email}}</strong> (<em>{{this.user}}</em>): {{this.message}}</li>
    {{/each}}
  </ul>

  <form id="chatForm">
    <input type="text" name="email" placeholder="Tu correo electrónico">
    <input type="text" name="user" placeholder="Tu nombre de usuario">
    <input type="text" name="message" placeholder="Mensaje">
    <button type="submit">Enviar</button>
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    document.getElementById('chatForm').addEventListener('submit', (event) => {
      event.preventDefault();
      const formData = new FormData(event.target);
      const email = formData.get('email');
      const user = formData.get('user');
      const message = formData.get('message');
      socket.emit('nuevo_mensaje', { email, user, message });
      event.target.reset();
    });

    socket.on('nuevo_mensaje', (data) => {
      const chatList = document.getElementById('chat');
      const li = document.createElement('li');
      li.innerHTML = `<strong>${data.email}</strong> (<em>${data.user}</em>): ${data.message}`;
      chatList.appendChild(li);
      chatList.scrollTop = chatList.scrollHeight;
    });
  </script>
</body>
</html>
