<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #222222;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    h1 {
      font-size: 1.5rem;
      margin-bottom: 20px;
      color: #ff9900; 
    }

    ul#chat {
      list-style: none;
      padding: 0;
      margin: 0;
      max-width: 400px;
      width: 100%;
      overflow-y: auto;
      border: 2px solid #ff9900; 
      border-radius: 5px;
      background-color: #333333;
      padding: 10px;
    }

    ul#chat li {
      margin-bottom: 10px;
    }

    strong {
      color: #ff9900; 
    }

    em {
      color: #666666; 

    #chatForm {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;
      margin-top: 20px;
    }

    #chatForm input[type="text"],
    #chatForm button {
      margin-bottom: 10px;
    }

    #chatForm button {
      background-color: #ff9900;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
    }

    #chatForm button:hover {
      background-color: #dd7700; 
    }

       
  .navbar {
    background-color: #333333;
    color: white;
    padding: 10px 0;
 
  }

  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .navbar-links {
    display: flex;
    gap: 20px;
    text-decoration: none;

  }

  .home-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }

    .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  font-size: 24px;
}
  </style>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-content">
      <div class="navbar-links">
        <a href="/list" class="home-link"> HOME </a>
      </div>
    </div>
  </nav>
  <h1>Chat</h1>
  <ul id="chat">
    {{#each messages}}
      <li><strong>{{this.email}}</strong>: {{this.message}}</li>
    {{/each}}
  </ul>

  <form id="chatForm">
    <input type="hidden" name="email" value="{{user.email}}">
    <input type="text" name="message" placeholder="Mensaje">
    <button type="submit">Enviar</button>
  </form>


  <div class="social-icons">
  <a href="https://github.com/Julian7126" class="github-icon"> GITHUB
  </a>
  <a href="https://www.linkedin.com/in/julian-bischoff-liendo-56670224b/" class="linkedin-icon"> LINKEDIN
  </a>
</div>

<script src="/socket.io/socket.io.js"></script>
  <script>
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }

    const cookie = getCookie('CoderCookieJulian');

    fetch('/api/session/current', {
      headers: {
        'Content-Type': 'application/json',
        'CoderCookieJulian': cookie
      }
    })
    .then(r => {
      if (r.ok) {
        return r.json(); 
      } else {
        return r.text().then(text => Promise.reject(text));  
      }
    })
    .then(data => {
      const userRole = data.payload.role; // Obtenemos el rol del payload
      const userEmail = data.payload.email // obetengo el email
      console.log('User Role:', userRole); // Mostramos el rol en la consola
      console.log('User email:', userEmail); // Mostramos el email en la consola


      // Inicializamos la conexión del socket
      const socket = io();

      if (userRole === 'premium') {
        document.getElementById('chatForm').addEventListener('submit', async (event) => {
          event.preventDefault();
          const formData = new FormData(event.target);
          const message = formData.get('message');
              
          socket.emit('nuevo_mensaje', { email: userEmail, message }); 
        });
      } else {
        // Si el rol no es 'user', mostramos una alerta
        alert('No tienes permisos para enviar un mensaje.');
      }

      socket.on('nuevo_mensaje', (data) => {
        const chatList = document.getElementById('chat');
        const li = document.createElement('li');
        li.innerHTML = `<strong>${data.email}</strong>: ${data.message}`;
        chatList.appendChild(li);
        chatList.scrollTop = chatList.scrollHeight;
      });

    })
    .catch(error => {
      console.error('Hubo un problema con la operación fetch:', error);
    });
  </script>

</body>
</html>
