<!DOCTYPE html>
<html>

<head>
  <title>Crear Producto</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #222222;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    h1 {
      font-size: 1.5rem;
      margin-bottom: 20px;
      color: #ff9900;
    }

    form {
      max-width: 400px;
      width: 100%;
    }

    label,
    input {
      display: block;
      margin-bottom: 10px;
    }

    input[type="text"],
    input[type="number"] {
      width: 100%;
      padding: 10px;
    }

    button {
      background-color: #ff9900;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
    }

    button:hover {
      background-color: #dd7700;
    }
  </style>
</head>

<body>
  <h1>Crear Producto</h1>
  <form id="productForm" action="/api/productos/" method="post" enctype="multipart/form-data">
    <label for="title">Título del Producto</label>
    <input type="text" id="title" name="title">

    <label for="description">Descripción</label>
    <input type="text" id="description" name="description">

    <label for="price">Precio</label>
    <input type="number" id="price" name="price">

    <label for="stock">Stock</label>
    <input type="number" id="stock" name="stock">

    <input type="hidden" id="owner" name="owner" value="{{user.email}}">

    <label for="thumbnail">Imagen</label>
    <input type="file" name="thumbnail">

    <button type="submit">Crear Producto</button>
  </form>

  <script>
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }

    const cookie = getCookie('CoderCookieJulian');
    const form = document.getElementById('productForm'); 

    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      try {
        const title = document.getElementById('title').value;
        const description = document.getElementById('description').value;
        const price = document.getElementById('price').value;
        const stock = document.getElementById('stock').value;
        const owner = document.getElementById('owner').value;
        const thumbnail = document.querySelector('input[name="thumbnail"]').files[0];

        const body = { title, description, price, stock, owner, thumbnail };
        const productsResponse = await fetch('/api/productos', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'CoderCookieJulian': cookie
          },
          body: JSON.stringify(body),
        });

        if (productsResponse.ok) {
          alert('Producto creado con éxito'); 
          window.location.href = "/list"
        }
      } catch (error) {
        console.log(error);
        alert('Error al comunicarse con el servidor:', error);
      }
    });

  </script>
</body>

</html>