<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <style>
    body {
      background-color: black;
      color: white;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .login-form {
      background-color: #444;
      padding: 40px; 
      border-radius: 10px;
      width: 300px; 
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .login-form input {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      background-color: #333;
      color: white;
      border-radius: 5px;
    }

    .login-form button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #cc5500;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .login-form button:hover {
      background-color: #e6682c;
    }

     .register-button {
    display: block;
    text-align: center;
    margin-top: 15px;
  }

  .register-button-style {
    display: inline-block;
    padding: 10px 20px;
    background-color: #cc5500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }

  .register-button-style:hover {
    background-color: #e6682c;
    transform: scale(1.05);
  }
    .github-button-style:hover {
    background-color: #e6682c;
    transform: scale(1.05);
  }
  </style>
</head>
<body>
  <div class="login-form">
    <h1>Login</h1>
    <form action="/api/session/login" method="POST">
      <input type="text" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Login</button>
    </form>
    <a href="/register" class="register-button">
    <button class="register-button-style">Register</button>
    </a>
    <hr>

        <a href="/login-github" class="github-button">
    <button class="github-button-style">Github</button>
    </a>
  </div>


  <script>
   document.getElementById('form').onsubmit = (e) => {
      e.preventDefault();

      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;

      fetch('/api/session/login', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: { 'Content-Type': 'application/json' }
      })
      .then((r) => r.json())
      .then((data) => {
        console.log(data);
      });
    };

  </script>
</body>
</html>
